// desktop & laptop
@media screen and (min-width: 1000px) {
	$bodyPadding: 10px;
	$boardHeight: calc(min(100vh - 2 * $bodyPadding, 100vw / 2));
	$boardWidth: $boardHeight;
	$sidebarWidth: calc((100vw - $boardWidth) / 2);

	.App {
		padding: $bodyPadding;
		min-height: calc(100vh - 2 * $bodyPadding);
		min-width: calc(100vw - 2 * $bodyPadding);
		color: #eeeeee;
		display: flex;
		justify-content: space-between;

		@font-face {
			font-family: "EBGaramond";
			src: url(/EBGaramond.ttf) format("truetype");
		}

		font-family: Cantarell, sans-serif;

		.Sidebar {
			max-width: $sidebarWidth;
			flex: 1 1 0;
			display: flex;
			flex-direction: column;

			.title {
				font-family: "EBGaramond";
				font-size: 3rem;
				font-weight: bold;
				text-align: center;
			}

			.subtitle {
				font-family: "EBGaramond";
				font-size: 1.2rem;
				font-weight: bold;
				text-align: center;
			}
			.feature {
				margin: 15px 0;
				padding: 2px 0.8rem;
				border-radius: 20px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				transition: all 0.2s ease-in-out;

				h3 {
					font-size: 1rem;
					font-weight: bold;
					text-align: center;
					margin: 0;
					margin-top: 0.5rem;
				}

				p {
					font-size: 0.9rem;
					text-align: justify;
					margin: 0.5rem 0;
				}
			}

			.feature:hover {
				transform: scale(1.02);
			}

			.selected-feature {
				background: radial-gradient(
					125.61% 785.06% at -25.61% 6.4%,
					rgba(255, 255, 255, 0.55) 0%,
					rgba(255, 255, 255, 0.28) 99.98%,
					rgba(255, 255, 255, 0.319531) 99.99%,
					rgba(255, 255, 255, 0.15) 100%
				);
			}

			.credits {
				margin-top: auto;
				text-align: left;
				font-size: 0.9rem;
				display: flex;

				.avatar {
					border-radius: 50%;
					height: 3rem;
					margin-right: 0.5rem;
				}

				.links {
					display: flex;
					align-content: center;
					p {
						margin: auto 0;
					}
				}
			}
		}

		.transcriber {
			display: flex;
			justify-content: space-between;

			.boardContainer {
				$borderSize: 8px;
				$capturedPiecesBarHeight: 2.5rem;
				$chessboardSize: calc(
					$boardHeight - (2 * $borderSize) - (2 * $capturedPiecesBarHeight)
				);

				height: $boardHeight;
				width: calc($chessboardSize + (2 * $borderSize));
				background-image: url("/wooden_background.jpg");
				background-size: 100%;
				border-radius: 20px;
				margin: 0 20px;

				display: grid;
				place-content: center;

				#capturedWPieces,
				#capturedBPieces {
					height: $capturedPiecesBarHeight;
					width: $chessboardSize;
					display: flex;
					backdrop-filter: blur(4px);
					background: radial-gradient(
						100% 625% at 0% 0%,
						rgba(255, 255, 255, 0.2) 0%,
						rgba(255, 255, 255, 0.15) 100%
					);
					.fallenPieceTile {
						height: calc($chessboardSize/16);
						width: calc($chessboardSize/16);
						margin-top: 5px;

						display: grid;
						place-content: center;

						z-index: 9999;
						.fallenPiece {
							width: calc($chessboardSize/16);
							height: calc($chessboardSize/16);
							background-repeat: no-repeat;
							background-position: center;
							background-size: calc($chessboardSize/16);
						}
					}
				}
				#capturedBPieces {
					border-radius: 0 0 15px 15px;
				}
				#capturedWPieces {
					border-radius: 15px 15px 0 0;
				}

				#chessboard {
					height: $chessboardSize;
					width: $chessboardSize;
					background-image: url("/chessboard.jpg");
					background-size: 100%;

					display: flex;
					flex-wrap: wrap;

					.tile {
						width: calc($chessboardSize/ 8);
						height: calc($chessboardSize/ 8);

						display: grid;
						place-content: center;

						.chesspiece {
							width: calc($chessboardSize/ 8);
							height: calc($chessboardSize/ 8);
							background-repeat: no-repeat;
							background-position: center;
							background-size: calc($chessboardSize/ 8 * 0.7);

							transition: all 0.1s ease-in-out;
						}
						.chesspiece:hover {
							transform: scale(1.3);
						}
					}

					.highlight {
						box-shadow: inset 0 0 2px 99999px rgba(111, 227, 33, 0.3);
					}
				}
			}
		}

		.rightSidebar {
			max-width: $sidebarWidth;
			font-size: 0.9rem;

			fieldset {
				legend {
					font-size: 1rem;
				}

				margin: 20px 0;
				padding: 1rem;
				border-radius: 20px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				p {
					margin: 0;
				}

				.inputbox {
					display: flex;
					justify-content: center;
					padding: 0.5rem 0;

					textarea {
						font-family: inherit;
						font-size: inherit;
						color: inherit;

						width: 100%;
						border-radius: 5px;
						background: radial-gradient(
							100% 625% at 0% 0%,
							rgba(255, 255, 255, 0.2) 0%,
							rgba(255, 255, 255, 0.15) 100%
						);
					}
				}

				button {
					font-family: inherit;
					font-size: inherit;
					color: inherit;
					padding: 0 0.5rem;
					text-align: center;
					border-radius: 20px;
					background: radial-gradient(
						100% 625% at 0% 0%,
						rgba(255, 255, 255, 0.2) 0%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}
				.warning {
					display: inline-block;
					margin-left: 0.5rem;
					color: rgba(255, 201, 52, 0.941);
				}
			}

			.historyOverview {
				text-align: center;
			}

			.lastmove {
				margin: 0.5rem;
				padding: 0 0.5rem;
				text-align: center;
				vertical-align: middle;
				border-radius: 5px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				display: flex;
				p {
					margin: 0;
				}
				.movingPiece {
					width: 1.5rem;
					height: 1.5rem;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 1.5rem;
				}
			}

			.interactive-history div {
				display: inline-block;
			}

			.interactive-history .current {
				text-decoration: underline;
				background: radial-gradient(
					125.61% 785.06% at -25.61% 6.4%,
					rgba(255, 255, 255, 0.55) 0%,
					rgba(255, 255, 255, 0.28) 99.98%,
					rgba(255, 255, 255, 0.319531) 99.99%,
					rgba(255, 255, 255, 0.15) 100%
				);
			}
		}

		a {
			font-weight: 500;
			color: #f6f0e3;
			// text-decoration: inherit;
			// t-underline-offset: 2px;
			text-underline-offset: 2px;
		}

		a:hover {
			color: #535bf2;
		}

		@media (prefers-color-scheme: light) {
			a:hover {
				color: #747bff;
			}
		}
	}
}

// tablet
@media screen and (min-width: 600px) and (max-width: 1000px) {
	$bodyPadding: 10px;
	$boardHeight: 80vw;
	$boardWidth: $boardHeight;
	$capturedPiecesBarHeight: 2.5rem;

	.App {
		padding: $bodyPadding;
		min-height: $boardHeight;
		min-width: calc(100vw - 2 * $bodyPadding);
		color: #eeeeee;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@font-face {
			font-family: "EBGaramond";
			src: url(/EBGaramond.ttf) format("truetype");
		}

		font-family: Cantarell, sans-serif;

		.Sidebar {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;

			.title {
				font-family: "EBGaramond";
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
			}

			.subtitle {
				display: none;
			}

			h3 {
				font-size: 1rem;
				font-weight: bold;
			}

			.features {
				display: flex;
				justify-content: space-evenly;
				padding: 0.4rem 0;

				.feature {
					padding: 0 1rem;
					border-radius: 20px;
					backdrop-filter: blur(4px);
					background: radial-gradient(
						100% 625% at 0% 0%,
						rgba(255, 255, 255, 0.2) 0%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}

				.feature-desc {
					display: none;
				}

				.selected-feature {
					transform: scale(1.05);
					background: radial-gradient(
						125.61% 785.06% at -25.61% 6.4%,
						rgba(255, 255, 255, 0.55) 0%,
						rgba(255, 255, 255, 0.28) 99.98%,
						rgba(255, 255, 255, 0.319531) 99.99%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}
			}

			.credits {
				display: none;
			}
		}

		.boardContainer {
			$borderSize: 8px;
			$capturedPiecesBarHeight: 2.5rem;
			$chessboardSize: calc(
				$boardHeight - (2 * $borderSize) - (2 * $capturedPiecesBarHeight)
			);

			height: $boardHeight;
			width: calc($chessboardSize + (2 * $borderSize));
			background-image: url("/wooden_background.jpg");
			background-size: 100%;
			border-radius: 20px;
			margin: 0 auto;

			display: grid;
			place-content: center;

			#capturedWPieces,
			#capturedBPieces {
				height: $capturedPiecesBarHeight;
				width: $chessboardSize;
				display: flex;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);
				.fallenPieceTile {
					height: calc($chessboardSize/16);
					width: calc($chessboardSize/16);
					margin-top: 5px;

					display: grid;
					place-content: center;

					z-index: 9999;
					.fallenPiece {
						width: calc($chessboardSize/16);
						height: calc($chessboardSize/16);
						background-repeat: no-repeat;
						background-position: center;
						background-size: calc($chessboardSize/16);
					}
				}
			}
			#capturedBPieces {
				border-radius: 0 0 15px 15px;
			}
			#capturedWPieces {
				border-radius: 15px 15px;
			}

			#chessboard {
				height: $chessboardSize;
				width: $chessboardSize;
				background-image: url("/chessboard.jpg");
				background-size: 100%;

				display: flex;
				flex-wrap: wrap;

				.tile {
					width: calc($chessboardSize/ 8);
					height: calc($chessboardSize/ 8);

					display: grid;
					place-content: center;

					.chesspiece {
						width: calc($chessboardSize/ 8);
						height: calc($chessboardSize/ 8);
						background-repeat: no-repeat;
						background-position: center;
						background-size: calc($chessboardSize/ 8 * 0.7);
					}
				}

				.highlight {
					box-shadow: inset 0 0 2px 99999px rgba(111, 227, 33, 0.3);
				}
			}
		}

		.rightSidebar {
			font-size: 1rem;

			fieldset {
				margin: 20px 0;
				padding: 1rem;
				border-radius: 20px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				p {
					margin: 0;
				}

				.inputbox {
					display: flex;
					justify-content: center;
					padding: 0.5rem 0;

					textarea {
						font-family: inherit;
						font-size: inherit;
						color: inherit;

						width: 100%;
						border-radius: 5px;
						background: radial-gradient(
							100% 625% at 0% 0%,
							rgba(255, 255, 255, 0.2) 0%,
							rgba(255, 255, 255, 0.15) 100%
						);
					}
				}

				button {
					font-family: inherit;
					font-size: inherit;
					color: inherit;
					padding: 0 0.5rem;
					text-align: center;
					border-radius: 20px;
					background: radial-gradient(
						100% 625% at 0% 0%,
						rgba(255, 255, 255, 0.2) 0%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}

				.warning {
					display: inline-block;
					margin-left: 2rem;
					color: rgba(255, 201, 52, 0.941);
				}
			}

			.submitted {
				display: none;
			}

			.historyOverview {
				text-align: center;
			}

			.lastmove {
				margin: 0.5rem;
				padding: 0 0.5rem;
				text-align: center;
				vertical-align: middle;
				border-radius: 5px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				display: flex;
				p {
					margin: 0;
				}
				.movingPiece {
					width: 1.5rem;
					height: 1.5rem;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 1.5rem;
				}
			}

			.interactive-history div {
				display: inline-block;
				margin: 0 5px;
			}

			.interactive-history .current {
				text-decoration: underline;
			}
		}

		a {
			font-weight: 500;
			color: #779556;
			text-decoration: inherit;
		}

		a:hover {
			color: #535bf2;
		}

		@media (prefers-color-scheme: light) {
			a:hover {
				color: #747bff;
			}
		}
	}
}

// phone
@media screen and (max-width: 600px) {
	$bodyPadding: 10px;
	$boardHeight: calc(min(100vh - 2 * $bodyPadding, 100vw));
	$boardWidth: $boardHeight;
	$capturedPiecesBarHeight: 2.5rem;

	.App {
		padding: $bodyPadding;
		min-height: $boardHeight;
		min-width: calc(100vw - 2 * $bodyPadding);
		color: #eeeeee;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@font-face {
			font-family: "EBGaramond";
			src: url(/EBGaramond.ttf) format("truetype");
		}

		font-family: Cantarell, sans-serif;

		.Sidebar {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;

			.title {
				font-family: "EBGaramond";
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
			}

			.subtitle {
				display: none;
			}

			h3 {
				font-size: 0.8rem;
				font-weight: bold;
				text-align: center;
			}

			.features {
				display: flex;
				justify-content: space-evenly;
				padding: 0.4rem 0;

				.feature {
					padding: 0 0.5rem;
					margin: 0 0.5rem;
					border-radius: 20px;
					backdrop-filter: blur(4px);
					background: radial-gradient(
						100% 625% at 0% 0%,
						rgba(255, 255, 255, 0.2) 0%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}

				.feature-desc {
					display: none;
				}

				.selected-feature {
					background: radial-gradient(
						125.61% 785.06% at -25.61% 6.4%,
						rgba(255, 255, 255, 0.55) 0%,
						rgba(255, 255, 255, 0.28) 99.98%,
						rgba(255, 255, 255, 0.319531) 99.99%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}
			}

			.credits {
				display: none;
			}
		}

		.boardContainer {
			$borderSize: 8px;
			$capturedPiecesBarHeight: 1.8rem;
			$chessboardSize: calc(
				$boardHeight - (2 * $borderSize) - (2 * $capturedPiecesBarHeight)
			);

			height: $boardHeight;
			width: calc($chessboardSize + (2 * $borderSize));
			background-image: url("/wooden_background.jpg");
			background-size: 100%;
			border-radius: 20px;
			margin: 0 auto;

			display: grid;
			place-content: center;

			#capturedWPieces,
			#capturedBPieces {
				height: $capturedPiecesBarHeight;
				width: $chessboardSize;
				display: flex;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);
				.fallenPieceTile {
					height: calc($chessboardSize/16);
					width: calc($chessboardSize/16);
					margin-top: 5px;

					display: grid;
					place-content: center;

					z-index: 9999;
					.fallenPiece {
						width: calc($chessboardSize/16);
						height: calc($chessboardSize/16);
						background-repeat: no-repeat;
						background-position: center;
						background-size: calc($chessboardSize/16);
					}
				}
			}
			#capturedBPieces {
				border-radius: 0 0 15px 15px;
			}
			#capturedWPieces {
				border-radius: 15px 15px;
			}

			#chessboard {
				height: $chessboardSize;
				width: $chessboardSize;
				background-image: url("/chessboard.jpg");
				background-size: 100%;

				display: flex;
				flex-wrap: wrap;

				.tile {
					width: calc($chessboardSize/ 8);
					height: calc($chessboardSize/ 8);

					display: grid;
					place-content: center;

					.chesspiece {
						width: calc($chessboardSize/ 8);
						height: calc($chessboardSize/ 8);
						background-repeat: no-repeat;
						background-position: center;
						background-size: calc($chessboardSize/ 8 * 0.7);
					}
				}

				.highlight {
					box-shadow: inset 0 0 2px 99999px rgba(111, 227, 33, 0.3);
				}
			}
		}

		.rightSidebar {
			font-size: 1rem;

			fieldset {
				margin: 20px 0;
				padding: 1rem;
				border-radius: 20px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				p {
					margin: 0;
				}

				.inputbox {
					display: flex;
					justify-content: center;
					padding: 0.5rem 0;

					textarea {
						font-family: inherit;
						font-size: inherit;
						color: inherit;

						width: 100%;
						border-radius: 5px;
						background: radial-gradient(
							100% 625% at 0% 0%,
							rgba(255, 255, 255, 0.2) 0%,
							rgba(255, 255, 255, 0.15) 100%
						);
					}
				}

				button {
					font-family: inherit;
					font-size: inherit;
					color: inherit;
					padding: 0 0.5rem;
					text-align: center;
					border-radius: 20px;
					background: radial-gradient(
						100% 625% at 0% 0%,
						rgba(255, 255, 255, 0.2) 0%,
						rgba(255, 255, 255, 0.15) 100%
					);
				}
				.warning {
					display: inline-block;
					margin-left: 2rem;
					color: rgba(255, 201, 52, 0.941);
				}
			}

			.submitted {
				display: none;
			}

			.historyOverview {
				text-align: center;
			}

			.lastmove {
				margin: 0.5rem;
				padding: 0 0.5rem;
				text-align: center;
				vertical-align: middle;
				border-radius: 5px;
				backdrop-filter: blur(4px);
				background: radial-gradient(
					100% 625% at 0% 0%,
					rgba(255, 255, 255, 0.2) 0%,
					rgba(255, 255, 255, 0.15) 100%
				);

				display: flex;
				p {
					margin: 0;
				}
				.movingPiece {
					width: 1.5rem;
					height: 1.5rem;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 1.5rem;
				}
			}

			.interactive-history div {
				display: inline-block;
				margin: 0 5px;
			}

			.interactive-history .current {
				text-decoration: underline;
			}
		}

		a {
			font-weight: 500;
			color: #779556;
			text-decoration: inherit;
		}

		a:hover {
			color: #535bf2;
		}

		@media (prefers-color-scheme: light) {
			a:hover {
				color: #747bff;
			}
		}
	}
}
