:root {
	// font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-image: url("/wooden_background.jpg");
	background-size: 100%;
	backdrop-filter: brightness(0.4);

	margin: 0;
	padding: 0;

	#root {
		min-height: 100vh;
		min-width: 100vw;
	}
}

@font-face {
	font-family: "EBGaramond";
	src: url(/EBGaramond.ttf) format("truetype");
}
