.App {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-around;
}

.App .leftSidebar {
  flex: 1 1 0;
  max-width: 30rem;
  text-align: justify;

  display: flex;
  flex-direction: column;
}

.features {
  margin: 0.5rem;
}

.Credits {
  margin-top: auto;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

/* .leftSidebar {
  position: absolute;
  top: 0.2rem;
  left: 0.4rem;
  text-align: left;
}
 */


.rightSidebar {
  max-width: 30rem;
  text-align: justify;
  margin: 1rem;
  margin-top: 3rem;
}

.inputbox {
  height: 100px;
  width: 100px;
}

.warning {
  display: inline-block;
  margin-left: 5px;
  color: red;
}

.interactive-history div {
  display: inline-block;
  margin: 0 5px;
}

.interactive-history .current {
  text-decoration: underline;
}

/* .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.option {
  margin: 10px 0;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
}

.selected-feature {
  border: 1px solid #779556;
  border-width: thick;
  padding: 10px;
  border-radius: 20px;
}